[*.cs]

# CS0649: Field 'FrmMathre.components' is never assigned to, and will always have its default value null
dotnet_diagnostic.CS0649.severity = suggestion

[*.{cs,vb}]
indent_style=tab

# IDE0017: Simplify object initialization
dotnet_diagnostic.IDE0017.severity = silent
